<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x1.groo.forest.mate.query.dao.MateMapper">

    <!-- diary_id에 해당하는 감정 리스트 조회 -->
    <select id="findEmotionsByDiaryId" resultType="string">
        SELECT emotion
          FROM diary_emotion
         WHERE diary_id = #{diary_id}
    </select>
    
    <!--    우정의 숲 상세 조회 -->
    <select id="findForestBaseDetail" resultType="com.x1.groo.forest.mate.query.dto.MateForestDetailDTO">
        SELECT
               f.id AS forestId
             , f.name AS forestName
             , f.is_public AS isPublic
             , f.background_id AS backgroundId
             , f.user_id AS userId
             , b.image_url AS backgroundImageUrl
          FROM forest f
          LEFT JOIN background b ON f.background_id = b.id
         WHERE f.id = #{forestId}
    </select>
    <select id="findPlacementListByForestId"
            resultMap="com.x1.groo.forest.emotion.query.repository.QueryForestEmotionMapper.PlacementDTOMap">
        SELECT
               p.id AS placement_id
             , p.position_x AS placement_position_x
             , p.position_y AS placement_position_y
             , p.width AS placement_width
             , p.height AS placement_height
             , p.z_index AS placement_z_index
             , fi.id AS forest_item_id
             , fi.placed_count
             , i.id AS item_id
             , i.name AS item_name
             , i.image_url AS item_image_url
          FROM forest f
          JOIN forest_item fi ON fi.forest_id = f.id
          JOIN placement p ON p.forest_item_id = fi.id
          LEFT JOIN item i ON fi.item_id = i.id
         WHERE f.id = #{forestId}
    </select>
    
    <!-- 숲에 참여한 모든 유저 닉네임 조회 -->
    <select id="findNicknamesByForestId" resultType="string">
        SELECT
               u.nickname
          FROM shared_forest sf
          JOIN user u ON sf.user_id = u.id
         WHERE sf.forest_id = #{forestId}
    </select>


    <!-- 유저가 입장중인 우정의 숲 조회 -->
    <select id="findForestsByUserId" resultType="com.x1.groo.forest.mate.query.dto.MateForestResponseDTO">
        SELECT
                f.id AS forestId
              , f.name AS forestName
              , COUNT(DISTINCT sf.user_id) AS memberCount
          FROM shared_forest sf
          JOIN forest f ON sf.forest_id = f.id
            WHERE sf.forest_id IN (
            SELECT forest_id FROM shared_forest WHERE user_id = #{userId}
            )
         GROUP BY f.id, f.name
         ORDER BY f.id
    </select>

    <!-- 우정의 숲 보유 아이템 조회 -->
    <select id="getPieceOfMemory" resultType="com.x1.groo.forest.mate.query.dto.MateItemDTO">
        SELECT
               fi.id AS id
             , fi.item_id AS itemId
             , fi.total_count AS totalCount
             , fi.placed_count AS placedCount
             , i.`name` AS itemName
             , i.category_id AS categoryId
             , i.image_url AS imageUrl
          FROM forest_item fi
          JOIN item i ON fi.item_id = i.id
          JOIN forest f ON fi.forest_id = f.id
         WHERE fi.forest_id = #{forestId}
           AND i.category_id = #{categoryId}
           AND EXISTS (
               SELECT 1
                 FROM shared_forest sf
                WHERE sf.forest_id = f.id
               )
    </select>


    <!-- 우정의 숲 일기 갯수 조회 -->
    <select id="getWrittenDiaryCountByForestId" resultType="int">
        select count(*)  AS writtenDiaryCount
          FROM diary d
          JOIN forest f ON d.forest_id = f.id
         WHERE f.id = #{forestId}
    </select>
</mapper>
